/* Store this code in 'style.css' file inside the 'static' folder*/

			.header{
				padding: 4px 110px;
				width: 140px;
				height: 60px;
				background-color: #444444;
				border-radius: 25px;
				font-style: oblique;
			}
		
			.border{
				padding: 80px 50px;
				width: 450px;
				height: 450px;
				border: 1px solid #444444;
				border-radius: 0px;
				background-color: #E1E1E1;
			}

			.btn {
				padding: 10px 40px;
				background-color: #444444;
				color: #FFFFFF;
				font-style: oblique;
				font-weight: bold;
				border-radius: 10px;
			}

			.textbox{
				padding: 10px 40px;
				background-color: #444444;
				text-color: #5C5C5C;
				border-radius: 10px;
			}
				
			::placeholder {
				color: #ffffff;
				opacity: 1;
				font-style: oblique;
				font-weight: bold;
			}

			.word{
				color: #ffffff;
				font-style: oblique;
				font-weight: bold;
			}

			.bottom{
				color: #444444;
				font-style: oblique;
				font-weight: bold;
			}

